extends ../layouts/main
include modals/createApplication
include includes/applicationBox

block content
    h2.page-header
        span(style="margin-right: 10px;")= ` Applications (${user.containers.node.length})`
        if repositories.length > 0
            .btn.btn-success.btn-flat.newApp(data-toggle="modal" data-target="#newAppModal")
                i.fas.fa-plus(style="margin-right: 4px;")
                | New
    .row
        each application in user.containers.node
            +applicationBox(application)

    if repositories.length > 0
        +createApplicationModal()