<h1>Adminpage</h1>

<h3>Create User</h3>
<form action="admin/user" method="post">
    <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" name="username" id="username" required class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="text" name="email" id="email" required class="form-control">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="password" id="password" required class="form-control">
    </div>
    <div class="form-check">
        <label class="form-check-label"> <input type="checkbox" name="admin" id="admin" class="form-check-input ">Admin</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>


<div>Nutzerliste - Auf X wird gelöscht</div>
<ul>
    {{#each users}}
        <li>{{this.username}} <span class="deleteUser" id="{{this.username}}">X</span></li>
    {{/each}}
</ul>

<script>
    $('.deleteUser').on('click', function() {
        const username = $(this).attr('id');
        console.log(username)
        $.ajax({
            url: '/admin/user/' + username,
            method: 'delete',
            success: function (msg) {
                console.log(msg);
            }
        })
    })

</script>
