<h1>Adminpage</h1>

<div id="feedback"></div>
<h3>Create User</h3>
<form>
    <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" name="username" id="username" required class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="text" name="email" id="email" required class="form-control">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="password" id="password" required class="form-control">
    </div>
    <div class="form-check">
        <label class="form-check-label"> <input type="checkbox" name="admin" id="admin" class="form-check-input ">Admin</label>
    </div>
    <button id="addUser" class="btn btn-default">Submit</button>
</form>


<div>Nutzerliste - Auf X wird gelöscht</div>
<ul id="userlist">
    {{#each users}}
        <li>{{this.username}}<span class="deleteUser" id="{{this.username}}"> X</span></li>
    {{/each}}
</ul>

<script>

    function resetCreateUserForm(){
        $('#username').val("");
        $('#email').val("");
        $('#password').val("");
        $('#admin').prop('checked', false);
    }

    $('#addUser').on('click', function(e) {
        e.preventDefault();

        const username = $('#username').val();
        const email = $('#email').val();
        const password = $('#password').val();
        const admin = $('#admin').is(':checked');

        let jsonForm = {
            username: username,
            email: email,
            password: password,
            admin: admin
        };


        $.ajax({
            url: '/admin/user',
            method: 'post',
            type: 'json',
            data: jsonForm,
            success: function (msg) {
                console.log(msg);
                if(msg === 'ok'){
                    $('#userlist').append(
                            "<li>" + username + "<span class='deleteUser' id='" + username + "'> X</span></li>"
                    );
                    $('#feedback').text('User successfully created');
                    setTimeout(function(){
                        $('#feedback').text('');
                    }, 3000);
                    resetCreateUserForm();
                }
            }
        })
    });

    $(document).on('click', '.deleteUser', function() {
        const that = this;
        const username = $(this).attr('id');
        console.log(username);
        $.ajax({
            url: '/admin/user/' + username,
            method: 'delete',
            success: function (msg) {
                console.log(msg);
                if(msg === 'ok'){
                    $(that).parent().remove();
                    $('#feedback').text('User successfully removed');
                    setTimeout(function(){
                        $('#feedback').text('');
                    }, 3000);
                }
                $('#feedback').text(msg);
                setTimeout(function(){
                    $('#feedback').text('');
                }, 3000);


            }
        })
    })

</script>
