extends ../layouts/main
include ../layouts/mixins/toggleIcon

block content
    .panel.panel-default
        table.table.table-striped
            thead: tr
                th E-Mail
                th Active
                th Admin
            for user in users
                tr.user(data-id=user._id)
                    td: a(href="/admin/users/" + user._id)= user.email
                    td: +toggleIcon(user.active)
                    td: +toggleIcon(user.isAdmin)