mixin menuItem(label, currentHref)
    li(class={active: currentHref === currentPath})
        a.nav-link(href=currentHref)
            i(class=attributes.class + " fa-fw")
            span= " " + label

aside.main-sidebar
    section.sidebar
        ul.sidebar-menu.tree(data-widget="tree")
            +menuItem("Dashboard", "/dashboard").fas.fa-tachometer-alt
            +menuItem("Node.js", "/node").fab.fa-node-js
            +menuItem("MongoDB", "/mongo").fas.fa-database
            +menuItem("PostgreSQL", "/postgres").fas.fa-database
            +menuItem("GitLab", gitlab_url).fab.fa-gitlab
            +menuItem("Help", "/help").fas.fa-question-circle
            if user.isAdmin
                li.header Administration
                +menuItem("Users", "/admin/users").fas.fa-users
