//-
 This file is part of The HostLab Software.

 Copyright 2018
     Adrian Beckmann, Denis Paris, Dominic Claßen,
     Jan Wystub, Manuel Eder, René Heinen, René Neißer.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

mixin menuItem(label, currentHref, currentTarget)
    li(class={active: currentHref === currentPath})
        a.nav-link(href=currentHref target=currentTarget)
            i(class=attributes.class + " fa-fw")
            span= " " + label

aside.main-sidebar
    section.sidebar
        ul.sidebar-menu.tree(data-widget="tree")
            +menuItem("Dashboard", "/dashboard").fas.fa-tachometer-alt
            +menuItem("Node.js", "/node").fab.fa-node-js
            if user.containers.mongo && user.containers.mongo.id
                +menuItem("MongoDB", "/" + user.email.split('@')[1] + "/" + user.email.split('@')[0] +
		            "/mongo", "_blank").fas.fa-database
            if user.containers.postgres && user.containers.postgres.id
                +menuItem("PostgreSQL", "/postgres", "_blank").fas.fa-database
            +menuItem("GitLab", gitlab_url, "_blank").fab.fa-gitlab
            +menuItem("Help", "/help").fas.fa-question-circle
            if user.isAdmin
                li.header Administration
                +menuItem("Users", "/admin/users").fas.fa-users
