# Dependency directories
node_modules/

# IntelliJ project files
.idea/

.vagrant/

# eslint config
.eslintrc.json

# gulp compiled css and assets
public/vendor/*

# ignore dev host files
hostlab-docker.sh

*.env
.env

# ignore mac ds_store file
.DS_Store
.DS_Store?

# ignore jsdocs
out/