{{> header}}
<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <h1>HostLab</h1>
            </a>
        </div>
        <!-- Navigation oben links -->
        <ul class="nav navbar-left top-nav">
            <li><a href="/" title="Click to change to user view">
                <i class="fa fa-fw fa-eye" aria-hidden="true"></i> View: Admin</a></li>
        </ul>
        <!-- Navigation oben rechts -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-fw fa-user-o"></i> {{user.username}}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/settings"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
                    <li><a href="/logout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li {{#if nav-users}}class="active"{{/if}}>
                    <a href="/admin/users"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Users</a>
                </li>
                <li {{#if nav-help}}class="active"{{/if}}>
                    <a href="/admin/help"><i class="fa fa-fw fa-question-circle" aria-hidden="true"></i> Help</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main">

                {{{body}}}

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->
{{> footer}}
