<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HostLab | Dashboard</title>

    <link rel="stylesheet" href="/assets/bootstrap-3.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">

</head>
<body>
{{{body}}}
<div id="versionnumber">{{> versionnumber}}</div>
<script src="/assets/jquery-3.2.1.min.js"></script>
<script src="/assets/bootstrap-3.3.0/bootstrap.min.js"></script>


</body>
</html>