html
    include ../includes/head

    body.hold-transition.skin-black.sidebar-mini
        .wrapper
            include ../includes/header
            if !hideSidebar
                include ../includes/sidebar
            .content-wrapper
                if pageheader
                    section.content-header
                        h1= headerTitle
                section.content.container-fluid
                    block content
        include ../includes/scripts
        block scripts