block config
html
    include head

    body.hold-transition.skin-black.sidebar-mini
        .wrapper
            include header
            if !hideSidebar
                include ../includes/sidebar
            .content-wrapper
                if headerTitle !== undefined
                    section.content-header
                        h1= headerTitle
                section.content.container-fluid
                    .row
                        .col-md-12#alerts
                            if (message.error)
                                .alert.alert-danger
                                    p= message.error
                            if (message.info)
                                .alert.alert-success
                                    p= message.info
                    block content
        include scripts
        block scripts