mixin createApplicationModal
    .modal.fade.in#newAppModal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4.modal-title n/A

                // TODO Call with selected Repo
                form.createApplication(action="#" method="post", class="createApp")
                    input(type="hidden" id="createAppBlueprintId" name="blueprintId" value="0")
                    .modal-body
                        .form-group
                            label(for="path") Mount Path
                            input.form-control#path(type="text" name="path" placeholder="Path Name...")
                        .form-group
                            label Location of your Start-Script
                            input.form-control(type="text" name="script" placeholder="Runscript...")
                        .checkbox
                            label
                                input(type="checkbox", name="needsMongo")
                                | Add MongoDB-Connection
                    .modal-footer
                        button.btn.btn-default.pull-left(data-dismiss="modal") Cancel
                        button.btn.btn-primary Create Application

block scripts
    script.
        $(document).ready(function() {
            $('#newAppModal').on('show.bs.modal', function(event) {
                let blueprintId = $(event.relatedTarget).data('id');
                let modal = $(this);

                $('#createAppBlueprintId').val(blueprintId);

                modal.find('.modal-title').text('New Application based on Blueprint ' + $(event.relatedTarget).data('name'));
            });

            $('.createApplication').on('submit', function(e) {
                e.preventDefault()
                $(this).find('button').attr("disabled", true);

                $.ajax({
                    url: '/api/v1/application/',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(res) {
                        location.reload();
                    },
                    error: function(err) {
                        // TODO Error Handling
                    }
                })
            });
        });