mixin createApplicationModal
    .modal.fade.in#newAppModal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4.modal-title n/A

                // TODO Call with selected Repo
                form.createApplication(action="#" method="post", class="createApp")
                    input#createAppBlueprintId(type="hidden" name="blueprintId" value="0")
                    .modal-body
                        .form-group
                            label(for="createAppMountPath") Mount Path
                            input.form-control#createAppMountPath(type="text" name="path" placeholder="Mount Path...")
                        .form-group
                            label Select your Start Script
                            select.form-control#createBlueprintScripts(name="scriptIndex")
                        .checkbox
                            label
                                input(type="checkbox", name="needsMongo")
                                | Add MongoDB-Connection
                    .modal-footer
                        button.btn.btn-default.pull-left(data-dismiss="modal") Cancel
                        button.btn.btn-primary Create Application

block append scripts
    script.
        $(document).ready(function() {
            $('#newAppModal').on('show.bs.modal', function(event) {
                let target = $(event.relatedTarget);

                $('#createAppBlueprintId').val(target.data('id'));
                $('#createAppMountPath').val(target.data('name').toLowerCase());
                const createBlueprintScripts = $('#createBlueprintScripts').empty();

                JSON.parse(atob(target.data('scripts'))).forEach(function(script, idx) {
                    createBlueprintScripts.append($('<option>', {
                        value: idx,
                        selected: script === 'start',
                        text: script
                    }));
                });

                $(this).find('.modal-title').text('New Application based on Blueprint ' + target.data('name'));
            });

            $('.createApplication').on('submit', function(e) {
                e.preventDefault()
                $(this).find('button').attr("disabled", true);

                $.ajax({
                    url: '/api/v1/application/',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(res) {
                        location.reload();
                    },
                    error: function(err) {
                        // TODO Error Handling
                    }
                })
            });
        });