<h1>Node.js</h1>

<div class="col-md-12">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">
        Add Server
    </button>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a Folder</h4>
            </div>
            <div class="modal-body">
                <ul>
                    {{#each repositories}}
                    <li data-url='{{repo_url}}'><u>{{path}}</u></li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 ">

    <div class="panel panel-primary">
        <div class="panel-heading">Server</div>
        <div class="panel-body">Project
            <div class="pull-right">Webentwicklung</div>
        </div>
        <div class="panel-body">Running <label class="pull-right switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label></div>
        <div class="panel-body">Uptime
            <span class="pull-right">34m 13s</span></div>
        <div class="panel-body">Install Packages
            <button class="btn btn-primary pull-right">Install</button>
        </div>
        <div class="panel-body">
            Packages Info:
            <!--npm list --depth 0-->
            <div class="pull-right">
                <ul>
                    <li>body-parser@1.18.2</li>
                    <li>cookie-parser@1.4.3</li>
                    <li>debug@2.6.9</li>
                    <li>express@4.15.5</li>
                    <li>express-handlebars@3.0.0</li>
                    <li class="text-danger">UNMET DEPENDENCY feather@^0.0.6</li>
                    <li>hbs@4.0.1</li>
                    <li>morgan@1.9.0</li>
                    <li>passport@0.4.0</li>
                    <li>passport-ldapauth@2.0.0</li>
                    <li>serve-favicon@2.4.5</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-6 col-lg-4 ">

    <div class="panel panel-primary">
        <div class="panel-heading">Server</div>
        <div class="panel-body">Project
            <div class="pull-right">42</div>
        </div>
        <div class="panel-body">Running <label class="pull-right switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label></div>
        <div class="panel-body">Last Uptime
            <span class="pull-right">20h 5m 12s</span></div>
        <div class="panel-body">Install Packages
            <button class="btn btn-primary pull-right">Install</button>
        </div>
        <div class="panel-body">
            Packages Info:
            <!--npm list --depth 0-->
            <div class="pull-right">
                <ul>
                    <li>No Packages found</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-6 col-lg-4 ">

    <div class="panel panel-primary">
        <div class="panel-heading">Server</div>
        <div class="panel-body">Project
            <div class="pull-right">IT-Sicherheit</div>
        </div>
        <div class="panel-body">Running <label class="pull-right switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label></div>
        <div class="panel-body">Last Uptime
            <span class="pull-right">1d 06h 3m 52s</span></div>
        <div class="panel-body">Install Packages
            <button class="btn btn-primary pull-right">Install</button>
        </div>
        <div class="panel-body">
            Packages Info:
            <!--npm list --depth 0-->
            <div class="pull-right">
                <ul>
                    <li>body-parser@1.18.2</li>
                    <li>cookie-parser@1.4.3</li>
                    <li>debug@2.6.9</li>
                    <li>express@4.15.5</li>
                    <li>express-handlebars@3.0.0</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script>
    $('.modal-body').on('click', 'li', function() {
        let gitlab_url = $(this).data("url");
        $.post( "/api/container", { http_url_to_repo: gitlab_url, type: 'nodejs' })
        .done(function() {
            console.log( "Post  api/container send ", gitlab_url );
        })
        .fail(function() {
            console.log( "error posting to api/container ", gitlab_url );
        });
    });
</script>