//-
 This file is part of The HostLab Software.

 Copyright 2018
     Adrian Beckmann, Denis Paris, Dominic Claßen,
     Jan Wystub, Manuel Eder, René Heinen, René Neißer.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends layouts/main
block content
    :markdown-it(linkify langPrefix='highlight-')
        # Nutzerhandbuch
        Hier finden Sie das Benutzerhandbuch für die Bedienung des Hostlabs.
        Für die Inbetriebnahme klicken Sie [hier](#)

        # Anmeldung im Hostlab
        Um sich im Hostlab anzumelden navigieren Sie zur [Login-Seite](./login) und melden sich mit den Hochschul Logindaten an (z.B. max.mustermann@hsrw.org).
        Wenn Sie sich das erste mal einloggen wird ein [Gitlab](#) Account für Sie erstellt, der zur Versionsverwaltung, sowie dem Bereitstellen des Quellcodes zum deployen einer [Node.js](https://nodejs.org/en) App genutzt wird.

        # Konfiguration Ihrer Node.js App
        // TODO: Ergänzen
        Um auf Ihre **Mongo** Datenbank zugreifen zu können verwenden Sie folgenden Connection-String in Ihrer App
        ```js
            mongodb://process.env.MONGO/<dbname>
        ```

        # Deployen einer Node.js App
        Durch Klicken auf den Reiter [Node.js](./node) gelangen Sie zu der Seite, auf der Sie Ihre Apps deployen können.
        ## Blueprints erstellen
        - Wenn Sie das erste mal auf diese Seite navigieren erstellen Sie einen **Blueprint** über den dafür vorgesehenen Button.
        - Auf der darauffolgenden Seite sehen Sie Ihre Gitlab Repositories in einem Dropdown Menu
        -- Wählen Sie eins aus und geben Sie ihm optional einen Namen
        -- Bei Klick auf **Create Blueprint** wird dieser erstellt und Sie werden weitergeleitet

        ## Blueprint nutzen
        Nach Klick auf den Reiter [Node.js](./node) sehen Sie nun Ihren Blueprint.
        Dieser dient als Ausgangspunkt um Ihre App zu starten. Blueprints können über den Button in der oberen rechten Ecke auch wieder gelöscht werden.

        ### App erstellen
        Klicken Sie in Ihrem erstellten **Blueprint** auf **Create App**
        - Es öffnet sich eine neue Maske in der Sie den Pfad, auf dem die App verfügbar sein soll, eingeben können
        - Wählen Sie ihr Script aus der *package.json* aus, welches Sie starten möchten
        - Wählen Sie eine Datenbank aus, sofern benötigt
        - Der Button **Create App** startet nun Ihre Node.js App

        ### Apps verwalten
        Ihre Apps können Sie auf der Seite [Node.js](./node) einsehen. Alle Apps können mit den dafür betitelten Buttons gelöscht oder deaktiviert/reaktiviert werden

        # Verwaltung der MongoDB
        Zur Verwaltung der zur Verfügung gestellten Mongo Datenbank klicken Sie auf den Reiter [MongoDB](./mongo) in der linken Navigation.
        Hier sehen Sie viele Informationen zu Ihrer Datenbank und können von hier Anpassungen am Datenmodell vornehmen. Für weitere Informationen und Features siehe [Mongo-Express](https://github.com/mongo-express/mongo-express#features)

        # Verwaltung der PostgreSQL DB

        # Gitlab
        Wenn Sie sich das erste mal erfolgreich im Hostlab eingeloggt haben wird Ihnen ein [Gitlab](#) Account erstellt.
        Um eine Node.js App deployen zu können müssen Sie Ihren Quellcode in ein Repository pushen.
        Nach einem erfolgreichen Push wird die Anwendung sofort im Hostlab registriert sobald das erste mal auf [Node.js](./node) navigiert wird.

        ---
        # Zusätzliche Bedienung für Administratoren

        ## Userverwaltung

        Um in die Nutzervewaltung zu gelangen klicken Sie in der Linken Navigation auf den Punkt [Users](./admin/users).
        Hier sehen Sie alle im Hostlab registrierten Accounts und ob diese aktiv sind bzw. administrative Rechte besitzen.
        Bei Klick auf einen Nutzernamen können Sie diesen editieren und den Account deaktivieren bzw. ihm Administratorrechte hinzufügen.
        Sollten tiefgreifendere Anpassungen vorgenommen werden müssen muss direkt in der MongoDB des Hostlabs der User editiert werden.

        ---
        Copyright 2018
            Adrian Beckmann, Denis Paris, Dominic Claßen,
            Jan Wystub, Manuel Eder, René Heinen, René Neißer.
