<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-default" href="/admin/users">&laquo; BACK</a>
    </div>
    <form class="form-horizontal" id="form-user-create" autocomplete="off">
        <div class="panel-body">
            <div class="form-group">
                <label for="input-username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="input-email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="input-email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="input-password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="input-password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="input-isAdmin" class="col-sm-2 control-label">Admin</label>
                <div class="col-sm-10">
                    <label class="btn btn-default btn-block"><input type="checkbox" id="input-isAdmin"></label>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success btn-block">CREATE USER</button>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#form-user-create').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/admin/users',
                contentType: 'application/json',
                data: JSON.stringify({
                    username: $('#input-username').val(),
                    password: $('#input-password').val(),
                    email: $('#input-email').val(),
                    isAdmin: $('#input-isAdmin').is(':checked'),
                }),
                success: function(res) {
                    console.log(res);
                },
            });
        });
    });
</script>
