<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header main-title">
                <h1 id="pageTitle">Viewing Collection: system.version</h1>
            </div>





        </div>
    </div>
    <div class="row">
        <div class="col-md-12">


            <p>
                <button type="button" data-toggle="modal" data-target="#addDocument" class="btn btn-success btn-large">
                    <span class="glyphicon glyphicon-pencil"></span>
                    New Document
                </button>
                <button type="button" data-toggle="modal" data-target="#addIndex" class="btn btn-success btn-large">
                    <span class="glyphicon glyphicon-pencil"></span>
                    New Index
                </button>
            </p>


            <ul id="tabs" class="nav nav-pills nav-justified" data-tabs="tabs">
                <li class="active"><a href="#simple" data-toggle="tab"><span class="glyphicon glyphicon-tag"></span>  Simple</a></li>
                <li><a href="#advanced" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span>  Advanced</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="simple">
                    <form class="well" method="get" action="/db/admin/system.version">

                        <input type="checkbox" name="sort[_id]" class="hide sort-_id">

                        <input type="checkbox" name="sort[version]" class="hide sort-version">

                        <div class="row">
                            <div class="form-group col-sm-6 col-md-4">
                                <input style="width:100%;" class="input-medium form-control" type="text" id="key" name="key" placeholder="Key" title="Key" value="">
                            </div>
                            <div class="form-group col-sm-6 col-md-4">
                                <input style="width:100%;" class="input-medium form-control" type="text" id="value" name="value" placeholder="Value" title="Value" value="">
                            </div>
                            <div class="form-group col-sm-6 col-md-2">
                                <select name="type" class="form-control">
                                    <option value="S">String</option>
                                    <option value="R">Regex</option>
                                    <option value="J">JSON, bool</option>
                                    <option value="N">Number</option>
                                    <option value="O">ObjectID</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 col-md-2">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Find
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="advanced">
                    <form class="well" method="get" action="/db/admin/system.version">

                        <input type="checkbox" name="sort[_id]" class="hide sort-_id">

                        <input type="checkbox" name="sort[version]" class="hide sort-version">

                        <div class="row">
                            <div class="form-group col-sm-6 col-md-5">
                                <textarea class="input-medium form-control" style="width: 100%; height: 150px" id="query" name="query" placeholder="Query" title="Query"></textarea>
                            </div>
                            <div class="form-group col-sm-6 col-md-5">
                                <textarea class="input-medium form-control" style="width: 100%; height: 150px" id="projection" name="projection" placeholder="Projection" title="Projection"></textarea>
                            </div>
                            <div class="form-group col-md-2">
                                <button style="height:150px;" type="submit" class="btn btn-primary btn-block">
                                    <span class="glyphicon glyphicon-search"></span>
                                    Find
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <p>
            </p><form id="deleteListForm" method="POST" style="display:inline;" action="/db/admin/system.version?key=&amp;value=&amp;type=&amp;query=&amp;projection=">

            <input type="hidden" name="_method" value="delete">
            <button type="button" data-toggle="modal" data-target="#deleteListModal" class="btn btn-danger btn-large btn-block">
                <span class="glyphicon glyphicon-trash"></span>
                Delete all 1 documents retrieved
            </button>
        </form>
            <p></p>

            <br>

            <!-- Add Document Modal -->
            <div class="modal fade" id="addDocument" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="addDocumentForm" method="post" action="/db/admin/system.version">

                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">×</button>
                                <h2>Add Document</h2>
                            </div>
                            <div class="modal-body" id="document-modal-body">
        <textarea id="document" name="document" style="display: none;">{
        "_id": ObjectID()
}</textarea><div class="CodeMirror cm-s-rubyblue"><div style="overflow: hidden; position: relative; width: 3px; height: 0px;"><textarea autocorrect="off" autocapitalize="off" spellcheck="false" style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;" tabindex="0"></textarea></div><div class="CodeMirror-vscrollbar" cm-not-content="true"><div style="min-width: 1px;"></div></div><div class="CodeMirror-hscrollbar" cm-not-content="true"><div style="height: 100%; min-height: 1px;"></div></div><div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div><div class="CodeMirror-gutter-filler" cm-not-content="true"></div><div class="CodeMirror-scroll" tabindex="-1"><div class="CodeMirror-sizer" style="margin-left: 0px; min-width: 3px;"><div style="position: relative;"><div class="CodeMirror-lines" role="presentation"><div role="presentation" style="position: relative; outline: none;"><div class="CodeMirror-measure"></div><div class="CodeMirror-measure"><pre class="CodeMirror-line" role="presentation"><span role="presentation" style="padding-right: 0.1px;">        <span class="cm-string cm-property">"_id"</span>: <span class="cm-variable">ObjectID</span>()</span></pre></div><div style="position: relative; z-index: 1;"></div><div class="CodeMirror-cursors"></div><div class="CodeMirror-code" role="presentation"></div></div></div></div></div><div style="position: absolute; height: 30px; width: 1px;"></div><div class="CodeMirror-gutters"><div class="CodeMirror-gutter CodeMirror-linenumbers" style="width: 1px;"></div></div></div></div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-error" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" onclick="return checkValidJSON()">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Save
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- End Add Document Modal -->

            <!-- Add Index Modal -->
            <div class="modal fade" id="addIndex" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="addIndexForm" method="post" action="/db/admin/addIndex/system.version">

                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">×</button>
                                <h2>Add Indexs</h2>
                                <span>
          A document that contains the field and value pairs where the field
          is the index key. 1 for an ascending and -1 for a descending index.
        </span>
                            </div>
                            <div class="modal-body" id="index-modal-body">
        <textarea id="index" name="index" style="display: none;">{
        "key": 1
}</textarea><div class="CodeMirror cm-s-rubyblue"><div style="overflow: hidden; position: relative; width: 3px; height: 0px;"><textarea autocorrect="off" autocapitalize="off" spellcheck="false" style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;" tabindex="0"></textarea></div><div class="CodeMirror-vscrollbar" cm-not-content="true"><div style="min-width: 1px;"></div></div><div class="CodeMirror-hscrollbar" cm-not-content="true"><div style="height: 100%; min-height: 1px;"></div></div><div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div><div class="CodeMirror-gutter-filler" cm-not-content="true"></div><div class="CodeMirror-scroll" tabindex="-1"><div class="CodeMirror-sizer" style="margin-left: 0px; min-width: 3px;"><div style="position: relative;"><div class="CodeMirror-lines" role="presentation"><div role="presentation" style="position: relative; outline: none;"><div class="CodeMirror-measure"></div><div class="CodeMirror-measure"><pre class="CodeMirror-line" role="presentation"><span role="presentation" style="padding-right: 0.1px;">        <span class="cm-string cm-property">"key"</span>: <span class="cm-number">1</span></span></pre></div><div style="position: relative; z-index: 1;"></div><div class="CodeMirror-cursors"></div><div class="CodeMirror-code" role="presentation"></div></div></div></div></div><div style="position: absolute; height: 30px; width: 1px;"></div><div class="CodeMirror-gutters"><div class="CodeMirror-gutter CodeMirror-linenumbers" style="width: 1px;"></div></div></div></div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-error" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" onclick="return checkValidIndexJSON()">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Save
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- End Add Index Modal -->







            <div class="table-responsive tableWrapper">
                <table class="table table-striped tableHeaderFooterBars">
                    <thead>

                    <tr><th class="sorting-button" data-column="_id" data-direction="undefined" title="Sort by _id" data-vivaldi-spatnav-clickable="1">
                        _id

                    </th>

                        <th class="sorting-button" data-column="version" data-direction="undefined" title="Sort by version" data-vivaldi-spatnav-clickable="1">
                            version

                        </th>

                    </tr></thead>

                    <tbody><tr onclick="loadDocument('%22featureCompatibilityVersion%22')">

                        <td><div class="tableContent">

                            <form class="deleteButtonDocument" method="POST" style="display:inline;" action="/db/admin/system.version/%22featureCompatibilityVersion%22?skip=0&amp;key=&amp;value=&amp;type=&amp;query=&amp;projection= " data-vivaldi-spatnav-clickable="1">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            featureCompatibilityVersion
                        </div></td>

                        <td><div class="tableContent">

                            3.4
                        </div></td>

                    </tr>

                    </tbody></table>
            </div>





            <div class="row">

                <div class="col-md-12">
                    <h2>Rename Collection</h2>
                    <form method="POST" action="/db/admin/system.version" class="well form-inline">
                        <input type="hidden" name="_method" value="put">
                        <div class="form-group">
                            <span class="add-on">admin . </span>
                            <input class="form-control" type="text" id="collection" name="collection" placeholder="system.version">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Rename
                        </button>
                    </form>
                </div>


            </div>
            <h2>Tools</h2>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="well">
                        <a href="/db/admin/export/system.version" class="btn btn-warning btn-block">
                            <span class="glyphicon glyphicon-floppy-save"></span><br>Export Standard
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="well">
                        <a href="/db/admin/expArr/system.version" class="btn btn-warning btn-block">
                            <span class="glyphicon glyphicon-floppy-save"></span><br>Export --jsonArray
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="well">
                        <a href="/db/admin/expCsv/system.version" class="btn btn-warning btn-block">
                            <span class="glyphicon glyphicon-floppy-save"></span><br>Export --csv
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="well">
                        <a href="/db/admin/reIndex/system.version" class="btn btn-warning btn-block">
                            <span class="glyphicon glyphicon-resize-small"></span><br>Reindex
                        </a>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-3">
                    <div class="well">
                        <a href="/db/admin/compact/system.version" class="btn btn-danger btn-block">
                            <span class="glyphicon glyphicon-resize-small"></span><br>Compact
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <form method="POST" action="/db/admin/system.version" id="db-admin-system.version" class="well">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" class="hidden">
                        <button class="btn btn-danger deleteButtonCollection btn-block" collection-name="system.version" childof="db-admin-system.version" data-original-title="" title="" data-vivaldi-spatnav-clickable="1">
                            <span class="glyphicon glyphicon-trash"></span><br>Delete
                        </button>
                    </form>

                </div>

                <div id="confirm-deletion-document" class="modal fade" role="dialog" aria-labelledby="confirmDeletionDocumentLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Delete</button>
                                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="deleteListModal" class="modal fade" role="dialog" aria-labelledby="confirmDeletionListLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                Are you sure you want to delete all 1 documents?
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-danger" id="deleteListConfirmButton" data-vivaldi-spatnav-clickable="1">Delete</button>
                                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="confirm-deletion-collection" class="modal fade" role="dialog" aria-labelledby="confirmDeletionCollectionLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">Delete collection</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Be careful! You are about to delete whole <strong><span id="modal-collection-name"></span></strong> collection.
                                </p>
                                <p>
                                    <label for="confirmation-input">Type the collection name to proceed.</label>
                                    <input type="text" id="confirmation-input" name="confirmation-input" shouldbe="" value="">
                                </p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Delete</button>
                                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="stats col-md-12">
                    <h2>Collection Stats</h2>
                    <table class="table table-bordered table-striped">
                        <tbody><tr>
                            <td>
                                <strong>Documents</strong>
                            </td>
                            <td>
                                1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Total doc size</strong>
                            </td>
                            <td>
                                59 Bytes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Average doc size</strong>
                            </td>
                            <td>
                                59 Bytes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Pre-allocated size</strong>
                            </td>
                            <td>
                                16 KB
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Indexes</strong>
                            </td>
                            <td>
                                2
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Total index size</strong>
                            </td>
                            <td>
                                32 KB
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Padding factor</strong>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Extents</strong>
                            </td>
                            <td>

                            </td>
                        </tr>
                        </tbody></table>
                </div>

                <div class="col-md-12">
                    <h2>Indexes</h2>
                    <table id="indexes" class="table table-bordered table-striped">
                        <tbody><tr>
                            <th>Name</th>
                            <th>Columns</th>
                            <th>Size</th>
                            <th>Attributes</th>
                            <th>Actions</th>
                        </tr>

                        <tr>
                            <td>
                                _id_
                            </td>
                            <td>

                                <div>_id &nbsp;  ASC </div>

                            </td>
                            <td>
                                16 KB
                            </td>
                            <td>

                                <div></div>

                                <div></div>

                                <div></div>

                                <div></div>

                                <div></div>

                            </td>

                            <td>
                                <a class="btn btn-danger" href="/db/admin/dropIndex/system.version?name=_id_">
                                    <span class="glyphicon glyphicon-trash"></span> &nbsp;DEL
                                </a>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                incompatible_with_version_32
                            </td>
                            <td>

                                <div>version &nbsp;  ASC </div>

                            </td>
                            <td>
                                16 KB
                            </td>
                            <td>

                                <div></div>

                                <div></div>

                                <div></div>

                                <div></div>

                                <div></div>

                            </td>

                            <td>
                                <a class="btn btn-danger" href="/db/admin/dropIndex/system.version?name=incompatible_with_version_32">
                                    <span class="glyphicon glyphicon-trash"></span> &nbsp;DEL
                                </a>
                            </td>

                        </tr>

                        </tbody></table>
                </div>

            </div>
        </div>
    </div>
</div>