aside.main-sidebar
    section.sidebar
        ul.sidebar-menu(data-widget="tree")
            li
                i.fa.fa-fw.fa-tachometer
                a.nav-link.active(href="/dashboard") Dashboard
            li
                i.fa.fa-fw.fa-play
                a.nav-link.active(href="/node") Node.js
            li
                i.fa.fa-fw.fa-database
                a.nav-link.active(href="/mongo") MongoDB
            li
                i.fa.fa-fw.fa-gitlab
                a.nav-link.active(href="//git.majesnix.org" target="_blank") GitLab
            li
                i.fa.fa-fw.fa-question-circle
                a.nav-link.active(href="/help") Help
