aside.main-sidebar
    section.sidebar
        ul.sidebar-menu(data-widget="tree")
            li
                a.nav-link(href="/dashboard")
                    i.fa.fa-fw.fa-tachometer
                    |  Dashboard
            li
                a.nav-link(href="/node")
                    i.fa.fa-fw.fa-play
                    |  Node.js
            li
                a.nav-link(href="/mongo")
                    i.fa.fa-fw.fa-database
                    |  MongoDB
            li
                a.nav-link(href="/postgres")
                    i.fa.fa-fw.fa-database
                    |  PostgreSQL
            li
                a.nav-link(href="//git.majesnix.org" target="_blank")
                    i.fa.fa-fw.fa-gitlab
                    |  GitLab
            li
                a.nav-link(href="/help")
                    i.fa.fa-fw.fa-question-circle
                    |  Help
            if user.isAdmin
                li.header Administration
                li
                    a.nav-link(href="/admin/users")
                        i.fa.fa-fw.fa-users
                        |  Users
