aside.main-sidebar
    section.sidebar
        ul.sidebar-menu(data-widget="tree")
            li
                a.nav-link.active(href="/dashboard")
                    i.fa.fa-fw.fa-tachometer
                    | Dashboard
            li
                a.nav-link.active(href="/node")
                    i.fa.fa-fw.fa-play
                    | Node.js
            li
                a.nav-link.active(href="/mongo")
                    i.fa.fa-fw.fa-database
                    | MongoDB
            li
                a.nav-link.active(href="/postgres")
                    i.fa.fa-fw.fa-database
                    | PostgreSQL
            li
                a.nav-link.active(href="//git.majesnix.org" target="_blank")
                    i.fa.fa-fw.fa-gitlab
                    | GitLab
            li
                a.nav-link.active(href="/help")
                    i.fa.fa-fw.fa-question-circle
                    | Help
